html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	/*margin: 0;
	padding: 0;
	border: 0;*/
	/*font-size: 100%;*/
	font-family: sans-serif;
	/*vertical-align: baseline;*/
}
/* HTML5 display-role reset for older browsers */
/*article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}*/

ol, ul {
	list-style: none;
}



.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

canvas {
  display: inline-block;
  margin:10px;
  border:1px solid #666;
  height:700px;
  width:1000px;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  /*order: -2;*/
  /*display: flex;
  justify-content: flex-end;*/
  margin-right: 600px;
  font-family: sans-serif;
}

.open-modal {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 6px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #5DBCD2;
  padding: 0px 20px;
  margin: 18px 0px;
  text-decoration: none;
  border: none;
  margin-left: 15px;
}

.open-modal:hover {
  background: #3cb0fd;
  text-decoration: none;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto; /* 15% from the top and centered */
  /*padding: 20px;*/
  border: 1px solid #888;
  width: 70%; /* Could be more or less, depending on screen size */
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.modal-body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 0px 30px;
  /*padding-right: 30px;*/
  color: #34383f;
}

ul {
  padding: 0;
  margin-top: 0;
}

h4 {
  margin-bottom: 0;
  margin-top: 40px;
  font-size: 13pt;
}

p {
  margin-bottom: 0;
}

.intro {
  font-size: 14pt;
  font-style: italic;
}

.outro {
  font-style: italic;
}

.sub-list {
  padding-left: 30px;
  margin-top: 10px;
}

.modal-header {
  background-color: #5DBCD2;
  width: 100%;
}

.modal-header-text {
  color: white;
  display: flex;
  justify-content: center;
}

@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.close {
    color: lightgray;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding-right: 12px;
}

.close:hover,
.close:focus {
    color: darkgray;
    text-decoration: none;
    cursor: pointer;
}


.slider-bars {
  margin-left: 25px;
  order: -1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.footer {
  padding: 50px 150px;
  font-size: 9pt;
}
