body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

canvas {
  display: inline-block;
  margin:10px;
  border:1px solid #666;
  height:700px;
  width:1000px;
}

.slider-bars {
  margin-left: 25px;
  order: -1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
