.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

canvas {
  display: inline-block;
  margin:10px;
  border:1px solid #666;
  height:700px;
  width:1000px;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.title {
  /*order: -2;*/
  /*display: flex;
  justify-content: flex-end;*/
  /*margin-right: 600px;*/
  font-family: sans-serif;
}

.open-modal {

}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.slider-bars {
  margin-left: 25px;
  order: -1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
